@import "tailwindcss";

:root {
  --background: var(--color-quaternary);
  --foreground: var(--color-primary);
}

@theme {
  --color-primary: #27374d;
  --color-secondary: #526d82;
  --color-tertiary: #9db2bf;
  --color-quaternary: #dde6ed;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
